:root {
    --white: white;
    --black:black;
    --grey:grey;
    --white-light:rgba(255, 249, 249, 0.918);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: dotted red 0.1px; */
}
nav{
    align-items: center;
    display: flex;    
    justify-content: space-between;
    background-color: var(--grey);
    height: 3.5rem;
}

.nav-li{
    width: 40%;
    display: flex;    
    justify-content: space-around;  
    text-decoration: none;
}
.searchDiv{
    display:grid;
    place-items: center;
    background-color: var(--grey);
}
.searchDiv input {
    width: 50%;
}

.body-content{
    height: 88.7vh;
    /* background:rgb(255, 176, 176); */
    background-color: var(--white);
    display: grid;
}

.amazon-content ,.flipkart-content{
    height: 83vh;
    width: 49%;
    background-color: rgb(194, 188, 188);
    /* background-color: var(--white); */
    /* border: 1px solid black;; */
    /* overflow-y: scroll; */
}
.card_cont{
    height: 78.5vh;
    display: grid;
    place-items: center;
    overflow-y: scroll;
}
::-webkit-scrollbar{ 
    width: 0.5em;
}
::-webkit-scrollbar-track{ 
    /* background:var(--grey); */
    /* background-color: blue; */
    width: 260px;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb{
    /* background: var(--black); */
    background: rgba(0, 0, 0, 0.219);
    border-radius: 30px;
 }

.amazon-title ,.flipkart-title{
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    color: var(--white);
    background-color:var(--black);
}

.product-img{
    height: 7em;
    width: 8em;
    border-radius: 10px;
}

.card{
    display: flex;
    width: 95%;
    margin-bottom: 10px;
}

.card-details{
    padding-left: 2%;
    display: grid;
    width: 70%;
    align-items: center;   
    overflow: none;
}

.btnFli,.btnAmz{
    align-items: center;
    border-radius: 30%;
    margin: 30px;
    width: 4vw;
    height: 7vh;
}

.content-element{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-compare{
    display: grid;
    place-items: center;
}
.compare-btn{
    width: 8em;
    height: 4vh;
    border-radius: 20px;
    background: rgb(137, 101, 235);
    color: aliceblue;
}



/* ------------------------------- */
.amazoncard ,.flipkartcard{
    background-color:var(--white-light);
    border: 2px solid grey;
    border-radius: 20px;
    padding: .4em;
    margin: 3%;
    display: flex;
    width: 40em;
  }
  /* .cards{
    height: 30%;
    background-color: blanchedalmond;
  } */
  .productimage{
    height: 120px;
    /* margin: 5px 5px 5px 20px; */
    border-radius: 20px;
  }
  .cardcontent{
    margin: 10px 20px 10px 50px ;
    
    width: 65%;
  }
  .cardcontent a{
    text-decoration: none;
    /* color: black; */
    font-weight: 600;
  }

  .hidden{
    display: none;
  }